<!DOCTYPE html>
<html>
    <head>
        <title>Criar Evento</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/index.css" />
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Criar Evento</h1>
        <form action="" method="post">
            {{ form.csrf }}
 
            <div class="input text">
                {{ form.name.label }} {{ form.name }}
                <br><br>
                {{ form.seats_.label }} {{ form.seats_ }}
            </div>
            <br>
            <div class="input submit">
                <input id="sub" type="submit" value="Criar" />
            </div>
        </form>
        <br><br>
        <button class="show"><a href="/">Home</a></button>
    </body>
</html>